.banner {
  height: 550px;
  width: 100%;
}

@media (min-width: 480px) {
  .banner {
    height: 400px;
    width: 200%;
  }
}

@media (min-width: 786px) {
  .banner {
    height: 450px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 570px;
    width: 100%;
  }
}

.banner-text-1 h3 {
  color: rgb(17, 17, 17);
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-text-2 {
  font-size: 28px;
  color: #704664;
}

.banner-1 {
  margin-bottom: 150px;
  margin-right: 200px;
  animation: 2s fadeInUp;
}

.banner-text-3 {
  line-height: 16px;
  color: #252525;
  font-size: 15px;
  /* max-width: 150px; */
}

.banner-1-btn {
  margin-top: 15px;
  border: 3px solid rgba(71, 186, 193, 0.5);
  font-size: 20px !important;
  font-weight: 600;
}

.fa-chevron-right {
  margin-left: 10px;
}

@media only screen and (min-width: 1200px) {
  .banner-1 {
    margin-bottom: 170px;
    margin-right: 200px;
    /* width: 200px; */
  }
}

@media only screen and (min-width: 992px) {
  .banner-1 {
    margin-bottom: 150px;
    margin-right: 1400px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-1 {
    margin-bottom: 120px;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 480px) {
  .banner-1 {
    /* margin-bottom: 40px; */
    margin-right: 200px;
    height: 100px;
    padding-bottom: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-text-1 h3 {
    color: rgb(17, 17, 17);
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media only screen and (min-width: 480px) {
  .banner-text-1 h3 {
    color: rgb(17, 17, 17);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media only screen and (min-width: 1200px) {
  .banner-2 {
    margin-bottom: 170px;
    /* margin-right: 200px; */
    /* width: 200px; */
  }
}

@media only screen and (min-width: 992px) {
  .banner-2 {
    margin-bottom: 150px;
    /* margin-right: 140px; */
  }
}

@media only screen and (min-width: 768px) {
  .banner-2 {
    margin-bottom: 120px;
    /* margin-right: 200px; */
  }
}

@media only screen and (min-width: 480px) {
  .banner-2 {
    margin-bottom: 110px;
    margin-left: 200px;
    height: 100px;
    padding-bottom: 200px;
    animation: 2s fadeInUp;
  }
}

@media only screen and (min-width: 1200px) {
  .banner-3 {
    margin-bottom: 170px;
    margin-right: 200px;
    /* width: 200px; */
  }
}

@media only screen and (min-width: 992px) {
  .banner-3 {
    margin-bottom: 150px;
    margin-right: 1400px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-3 {
    margin-bottom: 120px;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 480px) {
  .banner-3 {
    margin-bottom: 100px;
    margin-right: 200px;
    height: 100px;
    padding-bottom: 200px;
    animation: 2s fadeInUp;
  }
}

@keyframes fadeInUp {
  from {
    margin-top: -100%;
    height: 300%;
    opacity: 0;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
    height: 14%;
  }
}
