.navbar-default {
  margin-top: -4px;
}

/* Parent div padding */
@media (min-width: 768px) {
  .navbar-default {
    padding: 0;
  }
}

/* Shadow and back color */
.navbar-default {
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 0;
  border: 0;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.navbar {
  position: relative;
}

/* Nav bar container position */
.navbar-default .container {
  position: relative;
}

@media (min-width: 768px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    flex-wrap: nowrap;
  }
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-default .navbar-brand {
    position: absolute;
    z-index: 5;
    padding: 0;
  }
}

@media (min-width: 480px) {
  .navbar-default .navbar-brand {
    padding: 15px;
  }
}
/* @media (min-width: 480px) {
  .navbar-default .container {
    margin-bottom: 50px;
  }
} */

.navbar-brand {
  width: auto;
  height: auto;
  transition: height 0.3s, width 0.3s;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-default .navbar-brand {
  display: inline-block;
}

.navbar-default .navbar-toggler {
  background-color: #47bac1;
  border-radius: 0;
  border: 0;
  padding: 5px 8px;
  margin-right: 15px;
  margin-top: 0;
  color: #fff;
  font-size: 22px;
  position: absolute;
  right: 0;
  z-index: 555;
  top: 12px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar-toggler {
  line-height: 1;
  background: 0 0;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    height: auto;
    padding: 0;
  }
}

@media (min-width: 480px) {
  .navbar-default .navbar-collapse {
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    position: relative;
    margin-top: 0;
    box-shadow: none;
  }
}

.navbar-default .navbar-collapse {
  width: 100%;
  top: 100%;
  background: #fff;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
}

/* Menu showing styles */

@media (min-width: 768px) {
  .navbar-default .navbar-collapse .navbar-nav.ml-auto {
    margin: 0;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown,
.dropup {
  position: relative;
}

.navbar-default .navbar-collapse li a {
  background-color: transparent;
  color: #000000;
}
.navbar-default .navbar-collapse li a:hover {
  background-color: transparent;
  color: #47bac1;
}

@media (min-width: 992px) {
  .navbar-default .navbar-collapse li button .nav-link {
    letter-spacing: 1px;
    padding: 37px 15px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse li button .nav-link {
    padding: 26px 8px;
    font-size: 12px;
    line-height: 1;
  }
}

.navbar-default .navbar-collapse li button .nav-link {
  font-size: 14px;
  color: #c7c4c4;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  background-color: transparent;
}

/* .nav-link {
  display: block;
} */

.nav-item .nav-link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    position: absolute;
    float: left;
    border: 1px solid #000000;
  }
}

@media (min-width: 480px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    border: 1px solid #000000;
    background-color: #fff;
  }
}

.navbar-brand .fa-store {
  font-size: 40px;
  color: #47bac1;
}

.navbar-brand span {
  color: #353535;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.navbar-default .navbar-collapse li.dropdown .dropdown-menu {
  box-shadow: none;
  margin-top: 0;
  border-radius: 0;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.nav-list .nav-list-item {
  padding-left: 35px;
  padding-bottom: 75px;

  color: #000000;
}

.nav-list .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 20px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.navbar-default .navbar-collapse li a.nav-link.dropdown-toggle:after {
  border: 0;
}

/* .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
} */

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-default .navbar-collapse li button.nav-link:hover,
.navbar-default .navbar-nav > .show > button:hover {
  color: #47bac1;
}

.navbar-default .navbar-collapse li.dropdown.show button:hover {
  background-color: transparent;
}

.navbar-default .navbar-collapse li.dropdown .dropdown-menu li.active button {
  color: #47bac1;
}

@media (min-width: 992px) {
  .navbar-default .navbar-collapse li.dropdown.show .dropdown-menu li button {
    padding: 10px 12px 10px 30px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .navbar-default .navbar-collapse li.dropdown.show .dropdown-menu li button {
    padding: 6px 12px 6px 30px;
    font-size: 11px;
  }
}
@media (min-width: 480px) {
  .navbar-default .navbar-collapse li.dropdown.show .dropdown-menu li button {
    padding: 10px 12px 10px 0px;
  }
}

.navbar-default .navbar-collapse li.dropdown.show .dropdown-menu li button {
  float: left;
  font-weight: 300;
  text-transform: capitalize;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    /* position: absolute; */
    /* float: left; */
    border: 1px solid #ececec;
    /* display: block; */
  }
}
@media (min-width: 992px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu:hover {
    /* position: absolute; */
    /* float: left; */
    border: 1px solid #ececec;
    /* display: block; */
  }
}
/* @media (min-width: 768px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu:h {
    position: absolute;
    float: left;
    border: 1px solid #ececec;
    display: block;
  }
} */

@media (min-width: 480px) {
  .navbar-default .navbar-collapse li.dropdown .dropdown-menu {
    /* position: relative; */
    width: 100%;
    /* float: left; */
    border: 0px solid #ececec;
    /* display: block; */
  }
}

/*
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
} */

/* @media (min-width: 300px) {
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
  }
} */

/* #mainNav .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(34, 33, 33);
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
} */
/* 
#mainNav .navbar-brand {
  color: #fed136;
  font-size: 25px;
  letter-spacing: 1px;
  font-style: italic;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
