@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* @media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

/* .footer-col-1 {
  padding-bottom: 300px;
} */

.h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mb-0 {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.bg-secondary {
  background-color: #3d3f4c !important;
}

.da-section {
  padding: 70px 0;
}

.contain-text {
  color: #ffffff !important;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 0.5rem;
}

.list-unstyled {
  padding-left: 0;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer ul li {
  list-style-type: none;
}

footer {
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

footer ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

footer .da-social-link {
  color: #fff;
  text-decoration: none;
}

.da-social-link:hover {
  color: #949494;
  text-decoration: none;
}
